<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Chat-App</title>
    <style>
        .bg-nav {
            background: #AA076B;
            /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #61045F, #AA076B);
            background: linear-gradient(to right, #61045F, #AA076B);
        }
    </style>
</head>

<body>
    <div class="container-fluid bg-nav  border-warning border-bottom">
        <div class="container px-0">

            <nav class="navbar navbar-expand-lg navbar-light px-0">

                <a class="navbar-brand" href="#">
                    <img src="./img/lb.png" width="30" height="30" class="d-inline-block align-top" alt="">
                    <span class="text-primary">linkbook.in</span>
                </a>
                <button class="navbar-toggler border-0 text-primary" type="button" data-toggle="collapse"
                    data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class=""><i class="fa fa-align-right "></i></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0 ">
                        <li class="nav-item active">
                            <a class="nav-link text-warning" href="./chat-room-login">Chat-Room</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-warning" href="./happy-new-year-2020">Wish 2020</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0 d-lg-block d-none">
                        <input class="form-control mr-sm-2 ml-sm-4" type="search" placeholder="Search"
                            aria-label="Search">
                        <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </nav>
        </div>
    </div>
    <div class="container-fluid bg-warning ">
        <div class="row vh-100 flex-column justify-content-center align-items-center mb-0">
            <div class="col-md-3 bg-dark text-white py-5 rounded">

                <form class="form" action="/chat-room">
                    <div class="form-label-group text-center">
                        <h3 class="font-weight-light text-warning border-bottom d-inline-block ">Chat-Room</h3>
                    </div>
                    <div class="form-label-group mt-2">
                        <label for="userName">Username</label>
                        <input type="text" name="username" id="userName" class="form-control" autofocus>
                    </div>

                    <div class="form-label-group mt-2">
                        <label for="chatRoom">Chat-Room</label>
                        <input type="text" name="chatroom" id="chatRoom" class="form-control">

                    </div>
                    <button class="btn  btn-primary btn-block mt-3 " type="submit">JOIN</button>
                    <p class=" small text-info mt-3 border p-1 px-2 border-muted rounded">
                        <span class="text-warning">NOTE : </span>Enter your
                        username and
                        the chat-room
                        name which
                        you wanna connect/create. We don't store any type of your data even your text-messages. Enjoy
                        with your special one and make her/him feel special!</p>

                    <div class="d-flex justify-content-around">
                        <div class=" mb-3 text-muted text-center small">&copy; linkbook.in 2019-20</div>
                        <div class="small"> <span> <a
                                    href="https://www.instagram.com/accounts/login/?next=%2Fsk_sahil_official%2F&source=follow"
                                    target="_blank">Developer :
                                    <i class="fa fa-instagram"></i></a> </span>
                        </div>
                        <div></div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script type="text/html" id="alert-template">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Error : </strong>{{error}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js">
    </script>
</body>

</html>